{% extends 'base.html' %}

{% block title %}
  Quiz: {{quiz_name}}
{% endblock %}

{% block head %}
<style>
    body {
      background-color: slategray;
    }
    .scoring-container {
      display: table;
      width: 100%;
      height: 100%;
  }
  .top-correct-incorrect-controls {
    width: 200px;
  }

    .items-list-container {
      display: table-cell;
      width: 100px;
      backround-color: #BC9F77; /*salmon;*/
    }
    li.item {
      background-color: #95A0AA; /* slategray; */
    }

    li.item.incorrect {
      background-color: crimson;
    }
    .current-sheet-container-outer {
      /*background-color: goldenrod;*/
      display: table-cell;
      position: fixed;
      top: 50px;
      left: 255px;
    }
    .current-sheet-container-inner {
      position: relative;
      border: solid;
    } 
  
    #current-sheet-img {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
    .item-in-sheet {
      position: absolute;
      display: none;
      z-index: 998;
      width: 100px;
      height: 100px;
      border: dotted green;
      color: green;
      border-width: 15px;
    }
    .item-in-sheet.incorrect {
      border: dotted red;
      color: red;
      border-width: 15px;
    }
    .item-in-sheet.show-it {
      display: block;
    }
    .answer-value-label {
      color: slategrey;
    }
    .answer-value {
      color: red;
      background-color: #CACFD3; /*salmon;*/
      padding: 3px;
      position: relative;
    }
    .item-container img {
      /*width: 80px;*/
      height: 50px;
    }
    /*
    img#current-sheet-img {
      width: 800px;
    }
    */
    .current-sheet-container-inner {
      transform: scale(0.3);
      /* transform: scale(0.1); */
    }
    .hidden {
      display: none;
    }
    #toggleCurrent{
      color: white;
    }
    
    ul.nav li {
      background-color: #CACFD4;
    }

    .items-list-container {
      z-index: 999;
    }

</style>
{% endblock %}

{% block content %}
<div class="container"> 


{#<button id="toggleType"> toggle hide or show </button>#}

<div class="scoring-container container">
  <div class="items-list-container">

    <div class="card instructions" id="instructions">
      <div class="card-body">
        Click on an item to mark it correct or incorrect. First double check correct answers. Then double check incorrect answers.
      </div>
    </div>

    <button type="button" class="list-group-item list-group-item-action show-both-correct-and-incorrect"> show all </button>
    <button type="button" class="list-group-item list-group-item-action show-correct"> show correct only </button>
    <button type="button" class="list-group-item list-group-item-action show-incorrect"> show incorrect only </button>

    <div class="card instructions">
      <div class="card-body bg-secondary">
        <h4 id="toggleCurrent"> showing all </h4> 
      </div>
    </div>

    <ul class="list-group">
    {% for item in items %}
      {% include "_cropped_image_css_cropped.html" %}
      {# include "_cropped_image_precropped.html" #}
    {% endfor %}


      <button type="button" class="list-group-item list-group-item-action show-both-correct-and-incorrect"> show all </button>
      <button type="button" class="list-group-item list-group-item-action show-correct"> show correct only </button>
      <button type="button" class="list-group-item list-group-item-action show-incorrect"> show incorrect only </button>
    </ul>
    <div class="card instructions" id="instructions-2">
      <div class="card-body">
        First double check correct answers. Then double check incorrect answers.
      </div>
    </div>
      {% if next_item_url %}
        <a href="{{next_item_url}}" type="button" class="list-group-item list-group-item-action go-to-next"> ➦ Go to next item "{{next_item_val}}"</a>
      {% else %}
        <a href="{{url_for('present_quiz', username=username, quiz_name=quiz_name)}}" type="button" class="list-group-item list-group-item-action go-to-next"> ➦ Back </a>
      {% endif %}
  </div>
    <div class="current-sheet-container-outer">
      <div class="answer-value"> <h2> <span class="answer-value-label"> correct answer: </span>  {{answer_value}} </h2> </div>
      <div class="current-sheet-container-inner">
          <img id="current-sheet-img">
          {%for item in items_in_sheets%}
          <div class="item item-in-sheet {%if item['value'] == '0' %} incorrect {%endif%} {%if item['value'] == '1'%} correct{%endif%} {{item['id_classes'][0]}} {{item['id_classes'][1]}}"
            style="left:{{item['dims']['x']}}px; top:{{item['dims']['y']}}px; width: {{item['dims']['width']}}px; height: {{item['dims']['height']}}px;"
                     >
                     {{item['correct_answer']}}
                     {% if item['value'] == 0 %} X {%endif%}
                     <br>
            </div>
          {%endfor%}
      </div>
    </div>
</div>

</div>
<script src="/static/vendor/jquery.js"> </script>
<script src="/static/vendor/underscore.min.js"></script>
<script src="/static/vendor/bootstrap.min.js"></script>
<script>

  function scrollToTop(){
    const top = document.getElementById("instructions")
    top.scrollIntoView(true);
  }

  function genItemId(username, quiz_name, sheet_no, item_no){
    var id = "item-" + username + "-" + quiz_name + "-" + sheet_no + "-" + item_no;
    return id;
  }

  // var AUTH_TOKEN = window.localStorage.getItem('quizgrader_auth_token');

  var toggleLastItem = (function tli() {
    var lastItemId = '';
    return function toggle_last_item(nextItemId){
      if(lastItemId) {
        $("." + lastItemId).toggleClass('show-it');
      }
      lastItemId =  nextItemId;
    };
  })();

  function setItemCorrectionInDOM(username, quiz_name, sheet_no, item_no, value){
    var id = "item-" + username + "-" + quiz_name + "-" + sheet_no + "-" + item_no;
    $("." + id).toggleClass("correct").toggleClass("incorrect").data("value", value);
    //$(".item-for-sheet-no-" + sheet_no).css({'display': 'block'})
    console.log(".item-in-sheet ." + id);
    toggleLastItem(id);
    $(".item-in-sheet." + id).toggleClass('show-it');
  }

  // correction_queue
  function correction_queue_factory(url){
    const my_correction_data = [];
    let my_correction_queue_ready = true;
    const csrf_token = "{{ csrf_token() }}";
  }
  const correction_data = [];
  let correction_queue_ready = true;
  function send_correction_fetch(url, data){
    const csrf_token = "{{ csrf_token() }}";
    return window.fetch(url,
          {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json; charset=utf-8",
                'X-CSRFToken': csrf_token
            }
          }
        );
  }
  const do_correction_fetch = _.debounce(
     function(username, quiz_name){
        const csrf_token = "{{ csrf_token() }}";
        const url = `/corrections/set-items/${username}/${quiz_name}/`;
        const data = correction_data.splice(0, correction_data.length);
        send_correction_fetch(url, data).then(function(myJson) {
          console.log(JSON.stringify(myJson));
          if(correction_data.length == 0){
            correction_queue_ready = true;
          } else {
            sendCorrectionToServer(username, quiz_name, null);
          }
        });
  }, 1000);
  function sendCorrectionToServer(username, quiz_name, correction) {
    const url = `/corrections/set-items/${username}/${quiz_name}/`;
    if(correction) correction_data.push(correction);
    console.log(correction_data);
    if(correction_queue_ready && correction_data.length > 0){
      do_correction_fetch(username, quiz_name);
    }
  }
  function setItemCorrection(username, quiz_name, sheet_no, item_no, value){
    setItemCorrectionInDOM(username, quiz_name, sheet_no, item_no, value);
    // var url = `/corrections/set/${username}/${quiz_name}/${sheet_no}/${item_no}/${value}`;
    // var url = `/corrections/set-items/${username}/${quiz_name}/`;
    var csrf_token = "{{ csrf_token() }}";
    var correction = {
      item_no: item_no,
      sheet_no: sheet_no,
      value: value
    }
    sendCorrectionToServer(username, quiz_name, correction);
    // var data = []
    // data.push( {
      // item_no: item_no,
      // sheet_no: sheet_no,
      // value: value
    // } );
    // window.fetch(url,
      // {
        // method: 'POST',
        // body: JSON.stringify(data),
        // headers: {
            // "Content-Type": "application/json; charset=utf-8",
            // 'X-CSRFToken': csrf_token
        // }
      // }
    // );
    /*
    $.ajax({
      method: "POST",
      url: url,
      data: JSON.data,
      headers: {
        'Authorization': AUTH_TOKEN
      },
      dataType: "json"
    });
    */
  }
  const toggleTypes = [
    "incorrect", "correct", "all"
  ];
  let toggleIndex = 2;
  function showCorrectOrIncorrect(action){
    $('.show-both-correct-and-incorrect').removeClass('active');
    $('.show-incorrect').removeClass('active');
    $('.show-correct').removeClass('active');
    if(action === "incorrect") {
      $(".incorrect").removeClass("hidden");
      $(".correct").addClass("hidden");
      $('.show-incorrect').addClass('active');
      $(".go-to-next").show();
    }
    else if(action === "correct"){
      $(".incorrect").addClass("hidden");
      $(".correct").removeClass("hidden");
      $('.show-correct').addClass('active');
      $(".go-to-next").hide();
    }
    else if(action === "all"){
      $(".incorrect").removeClass("hidden");
      $(".correct").removeClass("hidden");
      $('.show-both-correct-and-incorrect').addClass('active');
    }
    $('#toggleCurrent').text("Showing " + action + " items.");
    scrollToTop();
  }
  function toggleHidden(){
    toggleIndex = (toggleIndex + 1) % toggleTypes.length
    const action = toggleTypes[toggleIndex];
    showCorrectOrIncorrect(action);
  }
  function resizeSheetDisplay(dims, target_dims){
    const width = dims.width;
    const target_width = target_dims.width;
    const ratio = (target_width/width);
    const transform = `scale(${ratio.toString()})`;
    $(".current-sheet-container-inner").css({"transform": transform});
  }
  $(function(){
    $('#toggleType').on("click", toggleHidden);
    $('.show-correct').on('click', ()=>showCorrectOrIncorrect('correct'))
    $('.show-incorrect').on('click', ()=>showCorrectOrIncorrect('incorrect'))
    $('.show-both-correct-and-incorrect').on('click', ()=>showCorrectOrIncorrect('all'))
    $("li.item").on("click", function(){
      var item_no = $(this).data('item-no');
      var sheet_no = $(this).data('sheet-no');
      var username = $(this).data('username');
      var quiz_name = $(this).data('quiz-name');
      var value = $(this).data('value');
      //$(this).toggleClass('incorrect');
      //$(this).toggleClass('correct');
      if(value === '1' || value === 1) {value = '0'}
      else              {value = '1'}
      //$(this).data('value', value);
      setItemCorrection(username, quiz_name, sheet_no, item_no, value);
      $('#current-sheet-img').attr('src', `/sheet-img/${username}/${quiz_name}/${sheet_no}.jpeg`)
    })
    // resize the sheet
    const dims = { width: {{sheet_dims["width"]}}, height: {{sheet_dims["height"]}} };
    resizeSheetDisplay(dims, {width: 800});
    // start with answer key
    var username = $('li.item').first().data('username');
    var quiz_name = $('li.item').first().data('quiz-name');
    $('#current-sheet-img').attr('src', `/sheet-img/${username}/${quiz_name}/1.jpeg`)
    showCorrectOrIncorrect('correct')
  });

</script> 



{% endblock %}
