{% extends 'base.html' %}

{% block title %}
  Quiz: {{quiz_name}}
{% endblock %}


{% block content %}
<style>
  h1 .quiz-name {
    background-color: #9ECCC9;
  }
  h1.step-header {
    background-color: #CCC49E;
  }
  h2.step-header {
    background-color: #E0F8FF;
  }
</style>
<div class="container">

  <h1> Quiz: <span class="quiz-name"> {{quiz_name}} </span> </h1>
<p>
  You may grade by answer or by item. Grading by answer allows you to grade all items with the same answer at the same time. Grading by item limits you to one item at a time. After you finish grading, you may set student ids if you have supplied a roster for the class. Then you can click Finish Quiz to create the graded jpgs and pdfs. Finally, you can download the CSV for scores.
</p>

<hr>
<h1 class="step-header"> Step 1: Grade </h1>
<h2 class="step-header"> Grade by answer </h2>
{% if has_answer_key %}
<ul class="list pagination">
{%for answer in answers%}
  <li class="page-item">
    <a class="page-link"  href="/items-for-value/{{username}}/{{quiz_name}}/{{answer | urlencode_component}}">{{answer}}</a>
  </li>
{%endfor%}
</ul>

<h2 class="step-header"> <u>or</u>: Grade by item </h2>
<div style="width: 80%;">
<nav>
  <ul class="pagination">
  {%for item_no in item_nos%}
    <li class="item page-item">
      <a class="page-link"  href="/items/{{username}}/{{quiz_name}}/{{item_no}}">{{item_no+1}}</a>
    </li>
  {%endfor%}
  </ul>
</nav>
</div>
{% endif %}

<p>
Set answer key: <a href="/quiz-answer-key/{{username}}/{{quiz_name}}" class="btn btn-outline-dark"> go to set answer key</a>
</p>
<hr>
<h1 class="step-header"> Step 2: Student names and ids </h1>
{% if not has_roster_file %}
<p> Set Rosters in score_data/{username}/my_courses/{semester}/{course_id}/roster.csv </p>
{% endif %}
<p>
Set student ids: <a class="btn btn-outline-dark" href="/quiz-headers/{{username}}/{{quiz_name}}/{{semester}}/{{course_name}}"> go to set student ids</a>
</p>

{% if has_student_ids_in_place and has_answer_key%}

{% endif %}

<hr>
<h1 class="step-header"> <a name="access-results"> Step 3: Access Results </a> </h1>
{% if has_been_finished and has_answer_key%}
<p>
Graded: <a href="/finished-quiz/graded/{{username}}/{{quiz_name}}/{{quiz_name}}.pdf"> Graded PDF </a>
</p>
<p>
CSV score spreadsheet: <a href="/quiz-scores/{{username}}/{{quiz_name}}.csv"> CSV </a>
</p>
<p>
Overlay: <a href="/finished-quiz/overlay/{{username}}/{{quiz_name}}/{{quiz_name}}.pdf"> Overlay PDF </a>
<p>
Overlay: <a href="/finished-quiz/reversed-overlay/{{username}}/{{quiz_name}}/{{quiz_name}}.pdf"> Overlay PDF (reversed) </a>
<p>
  Statistics: <a href="{{ url_for('stats_for_quiz', username=username, quiz_name=quiz_name) }}"> stats </a>
</p>
<p>
Resubmit Quiz if you make any changes: <a class="btn btn-outline-dark submit-button" href="/finish-quiz/{{username}}/{{quiz_name}}#access-results"> resubmit </a> <span class="text-muted"> (May take a few minutes) <span>
</p>
</div>
{% elif has_student_ids_in_place and has_answer_key%}
<p>
Finish Quiz when grading is complete: <a class="btn btn-outline-dark submit-button" href="/finish-quiz/{{username}}/{{quiz_name}}#access-results"> submit </a> <span class="text-muted"> (May take a few minutes) <span>
</p>
{% else %}
<p>
  (Finish steps one and two first.)
</p>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="finish-quiz-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Processing...</h5>
      </div>
      <div class="modal-body">
          <div class="progress submit-progress">
            <div id="submit-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
          </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
function start_progress_bar (){
  const pb = $('#submit-progress-bar');
  pb.css('visibility', 'visible');
  pb.css('width', '20%');
  let t = 20;
  setInterval(()=>{pb.css('width', (t=t+5) + '%'); t>100 ? (t=50, pb.addClass('bg-warning')) : 0;}, 1000);
}
function submitted() {
  $('#finish-quiz-modal').modal({keyboard: false, backdrop: 'static'}).show();
  start_progress_bar();
  return true;
}
$('.submit-button').click(submitted);
</script>
{% endblock %}
